{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia admin_static %}


{% block extrahead %}{{ block.super }}
{{ formset.media }}
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> ›
     <a href="../../">{{ opts.app_label|capfirst|escape }}</a> ›
     <a href="../">{{ opts.verbose_name_plural|capfirst }}</a> ›
     {% trans 'Add Curations' %}</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}

<form action="." method="post">
{% csrf_token %}
{% if context_type and context_id %}
  <input type="hidden" name="context_type" value="{{ context_type }}">
  <input type="hidden" name="context_id" value="{{ context_id }}">
{% endif %}
{{ formset.management_form }}
{{ formset.non_form_errors }}
{% if is_popup %}
  <input type="hidden" name="_popup" value="1">
{% endif %}
    <div class="inline-group" id="{{ formset.prefix }}-group">
      <h2>Curations{% if context_object %} for {{ context_content_type }}: {{ context_object }}{% endif %}</h2>
      {% for form in formset %}
        <div class="inline-related{% if forloop.last %} empty-form last-related{% endif %}" id="{{ formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
          <h3><b>Curation:</b> <span class="inline_label">#{{ forloop.counter }}</span></h3>
          <fieldset class="module aligned">
            <table>
              {{ form.id }}
              {{ form.as_table }}
            </table>
          </fieldset>
        </div>
      {% endfor %}
    </div>

<div class="submit-row">
<input class="default" type="submit" value="{% trans 'Save' %}" />
</div>

</form>

</div>
<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        var rows = "#{{ formset.prefix }}-group .inline-related";
        var updateInlineLabel = function(row) {
            $(rows).find(".inline_label").each(function(i) {
                var count = i + 1;
                $(this).html($(this).html().replace(/(#\d+)/g, "#" + count));
            });
        };
        var reinitDateTimeShortCuts = function() {
            // Reinitialize the calendar and clock widgets by force, yuck.
            if (typeof DateTimeShortcuts != "undefined") {
                $(".datetimeshortcuts").remove();
                DateTimeShortcuts.init();
            }
        };
        var updateSelectFilter = function() {
            // If any SelectFilter widgets were added, instantiate a new instance.
            if (typeof SelectFilter != "undefined"){
                $(".selectfilter").each(function(index, value){
                  var namearr = value.name.split('-');
                  SelectFilter.init(value.id, namearr[namearr.length-1], false, "{% static "admin/" %}");
                });
                $(".selectfilterstacked").each(function(index, value){
                  var namearr = value.name.split('-');
                  SelectFilter.init(value.id, namearr[namearr.length-1], true, "{% static "admin/" %}");
                });
            }
        };
        var initPrepopulatedFields = function(row) {
            row.find('.prepopulated_field').each(function() {
                var field = $(this);
                var input = field.find('input, select, textarea');
                var dependency_list = input.data('dependency_list') || [];
                var dependencies = [];
                $.each(dependency_list, function(i, field_name) {
                  dependencies.push('#' + row.find('.form-row .field-' + field_name).find('input, select, textarea').attr('id'));
                });
                if (dependencies.length) {
                    input.prepopulate(dependencies, input.attr('maxlength'));
                }
            });
        };
        $(rows).formset({
            prefix: "{{ formset.prefix }}",
            addText: "Add another Curation",
            formCssClass: "dynamic-{{ formset.prefix }}",
            deleteCssClass: "inline-deletelink",
            deleteText: "{% trans "Remove" %}",
            emptyCssClass: "empty-form",
            removed: updateInlineLabel,
            added: (function(row) {
                initPrepopulatedFields(row);
                reinitDateTimeShortCuts();
                updateSelectFilter();
                updateInlineLabel(row);
            })
        });
    });
})(django.jQuery);
</script>

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{% endblock %}